@import "./partials/nav.scss";
@import "./partials/video.scss";
@import "./partials/colour.scss";
@import "./partials/mixin.scss";
@import "./partials/fonts.scss";
@import "./partials/variables.scss";
@import "./partials/comment.scss";
@import "./partials/next.scss";
@import "./partials/main.scss";
@import "./partials/animations.scss";

@import "./partials/upload.scss";

* {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: avenir;
}

button {
  border-style: none;
  &:focus {
    outline: 0;
  }
}

a {
  text-emphasis: none;
  text-decoration: none;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;

  & img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: $tablet-media) {
  .loading {
    & img {
      width: 75%;
      height: 75%;
      padding-top: 7em;
    }
  }
}

@media screen and (min-width: $desktop-media) {
  .loading {
    & img {
      width: 50%;
      height: 50%;
      padding-top: 5em;
    }
  }
}
