@font-face {
  font-family: "Avenir";
  src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Regular.otf")
    format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Demi.otf")
    format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Bold.otf")
    format("opentype");
  font-weight: 1000;
}
