@import "./partials/nav.scss";
@import "./partials/video.scss";
@import "./partials/colour.scss";
@import "./partials/mixin.scss";
@import "./partials/fonts.scss";
@import "./partials/variables.scss";
@import "./partials/comment.scss";
@import "./partials/next.scss";
@import "./partials/main.scss";
@import "./partials/animations.scss";

* {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: avenir;
}

button {
  border-style: none;
  &:focus {
    outline: 0;
  }
}
