@import "./colour.scss";
@import "./mixin.scss";
@import "./variables.scss";

.comment {
  &__body {
    display: flex;
    justify-content: space-around;
  }

  &__counter {
    font-weight: 500;
  }

  &__profile-pic {
    width: 3em;
    height: 3em;
    margin-top: 2em;
    border-radius: 100%;
  }

  &__form {
    display: flex;
    flex-flow: column;
  }

  &__message {
    width: 75%;
    margin-left: 1em;
    margin-bottom: 1.75em;
  }

  &__write {
    height: 7em;
    @include input;
    resize: none;
    padding: 0.5em;
  }

  &__title {
    font-size: 0.75em;
    margin-bottom: 0.25em;
    color: $silver;
  }

  &__button {
    color: white;
    background-color: $bb-light-blue;
    border-radius: 0.35em;
    height: 3.5em;
    margin-top: 1em;
    margin-right: 0;
  }
}

.thread {
  &__profile--pic {
    width: 3em;
    height: 3em;
    margin-top: 1.25em;
    border-radius: 100%;
  }
  &__response {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
    padding-top: 2em;
    border-bottom: $mercury 0.75px solid;
  }
  &__content {
    width: 82.5%;
  }

  &__user {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75em;
    align-items: baseline;
    &--date {
      font-weight: 100;
      font-size: 0.9em;
      color: silver;
      margin: 0;
    }

    &--name {
      margin: 0;
    }
  }

  &__comment {
    margin: 0;
    font-weight: 100;
    font-size: 0.9em;
  }
}

@media screen and (min-width: $tablet-media) {
  .comment {
    &__message {
      width: 95%;
      padding-left: 1em;
      margin-left: 0;
    }
    &__body {
      justify-content: flex-start;
    }

    &__form {
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      margin-right: 3.5em;
    }

    &__write {
      width: 100%;
      height: 4em;
      margin-right: 1.5em;
    }

    &__button {
      width: 125px;
      height: 4em;
      text-align: center;
      margin: 0;
    }

    &__profile-pic {
      margin-top: 1.6em;
    }
  }

  .thread {
    &__content {
      width: 90%;
    }

    &__profile--pic {
      margin-right: 1em;
    }
  }
}

@media screen and (min-width: $desktop-media) {
  .thread {
    &__content {
      width: 97.5%;
    }
  }
}
