@import "./mixin.scss";
@import "./variables.scss";
@import "./colour.scss";

.main {
  padding: 0 $side-padding-tablet;
}

.next {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em 0;
  overflow: hidden;
  &__thumbnail {
    width: 150px;
    height: 85px;
    border-radius: 5%;
  }

  &__info {
    width: 80%;
    padding-left: 1em;

    &--title {
      font-size: 0.95em;
      font-weight: 500;
      color: $black;
      line-height: 1.5em;
      margin: 0;
      margin-top: 1em;
    }

    &--channel {
      font-weight: 100;
      margin-top: 0.5em;
    }
  }
}

@media screen and (min-width: $tablet-media) {
  .main {
    padding: $side-padding-tablet;
  }

  .next {
    &__info {
      width: 90%;
    }
  }
}

@media screen and (min-width: $desktop-media) {
  .main {
    display: flex;
    padding: 0 $side-padding-desktop;
    align-items: flex-start;
    &__info {
      width: 70%;
      margin-right: 2em;
    }
  }
}
